@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

:root {
    --dark-blue: #040b14;
    --light-blue: #149ddd;
    --white: #ffffff;
    --white-shade: #f5f8fd;
    --dark-gray: #212431;
    --light-gray: #a8a9b4;

    --text: #272829;
    --main-heading: #173b6c;
    --sub-heading: #050d18;

    --side-nav-bar-width: 300px;
    --overlay-background: rgba(5, 13, 24, 0.3);
    --contact-icon-background: #dff3fc;
}